body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:896px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:896px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:100px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u338 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:113px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u339 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:69px;
  width:368px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
