body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:670px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:377px;
  height:670px;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:45px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:260px;
  width:52px;
  height:45px;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:67px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:128px;
  width:75px;
  height:67px;
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:67px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:128px;
  width:75px;
  height:67px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:164px;
  width:92px;
  height:16px;
  color:#FFFFFF;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:570px;
  width:167px;
  height:25px;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:572px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:47px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:445px;
  width:46px;
  height:47px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:42px;
  word-wrap:break-word;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:477px;
  width:140px;
  height:15px;
  font-size:12px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:459px;
  width:20px;
  height:20px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:25px;
  width:76px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:579px;
  width:0px;
  height:0px;
}
#u2429_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u2429_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:558px;
  width:295px;
  height:47px;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:275px;
  word-wrap:break-word;
}
