body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:612px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:612px;
  width:375px;
  height:55px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:423px;
  width:30px;
  height:44px;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:427px;
  width:22px;
  height:22px;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:455px;
  width:56px;
  height:10px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:423px;
  width:41px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:423px;
  width:29px;
  height:40px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:427px;
  width:22px;
  height:22px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:455px;
  width:27px;
  height:14px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:375px;
  height:580px;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:609px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:375px;
  height:609px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:423px;
  width:41px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:423px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:422px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:420px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:0px;
  width:18px;
  height:15px;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:2px;
  width:45px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:4px;
  width:15px;
  height:11px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:28px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:14px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:3px;
  width:7px;
  height:14px;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:3px;
  width:22px;
  height:13px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:5px;
  width:10px;
  height:10px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:3px;
  width:22px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:32px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:176px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:176px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:376px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:270px;
  width:100px;
  height:100px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:61px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:289px;
  width:66px;
  height:61px;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:376px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:100px;
  height:100px;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:57px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:287px;
  width:38px;
  height:57px;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:296px;
  width:54px;
  height:57px;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:549px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:443px;
  width:100px;
  height:100px;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:549px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:443px;
  width:100px;
  height:100px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:463px;
  width:66px;
  height:66px;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:66px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:461px;
  width:65px;
  height:66px;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
