body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:375px;
  height:667px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:301px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:301px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:151px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:301px;
  width:375px;
  height:151px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
