body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:132px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:375px;
  height:132px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:609px;
  width:375px;
  height:58px;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:53px;
  width:29px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:270px;
  width:346px;
  height:1px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:244px;
  width:10px;
  height:16px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:247px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:319px;
  width:23px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:313px;
  width:24px;
  height:24px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:244px;
  width:18px;
  height:18px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:209px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:205px;
  width:26px;
  height:24px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:235px;
  width:346px;
  height:1px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:198px;
  width:346px;
  height:1px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:211px;
  width:10px;
  height:16px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:167px;
  width:28px;
  height:28px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:174px;
  width:107px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:173px;
  width:10px;
  height:16px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:270px;
  width:346px;
  height:1px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:283px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:307px;
  width:346px;
  height:1px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:281px;
  width:10px;
  height:16px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:279px;
  width:24px;
  height:24px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:344px;
  width:346px;
  height:1px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:318px;
  width:10px;
  height:16px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:52px;
  width:10px;
  height:16px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:32px;
  width:85px;
  height:85px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:198px;
  width:369px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:236px;
  width:369px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:621px;
  width:30px;
  height:44px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:625px;
  width:22px;
  height:22px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:653px;
  width:56px;
  height:10px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:621px;
  width:29px;
  height:40px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:625px;
  width:22px;
  height:22px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:653px;
  width:27px;
  height:14px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:616px;
  width:64px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:616px;
  width:64px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:616px;
  width:64px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:616px;
  width:64px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:616px;
  width:58px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
