body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:132px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:375px;
  height:132px;
}
#u2043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:609px;
  width:375px;
  height:58px;
}
#u2045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:53px;
  width:29px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:270px;
  width:346px;
  height:1px;
}
#u2047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:244px;
  width:10px;
  height:16px;
}
#u2048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:247px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:319px;
  width:23px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:313px;
  width:24px;
  height:24px;
}
#u2051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:244px;
  width:18px;
  height:18px;
}
#u2052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:209px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:205px;
  width:26px;
  height:24px;
}
#u2054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:235px;
  width:346px;
  height:1px;
}
#u2055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:198px;
  width:346px;
  height:1px;
}
#u2056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:211px;
  width:10px;
  height:16px;
}
#u2057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:167px;
  width:28px;
  height:28px;
}
#u2058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:174px;
  width:107px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:173px;
  width:10px;
  height:16px;
}
#u2060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:270px;
  width:346px;
  height:1px;
}
#u2061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:283px;
  width:76px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
  text-align:center;
}
#u2062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:307px;
  width:346px;
  height:1px;
}
#u2063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:281px;
  width:10px;
  height:16px;
}
#u2064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:279px;
  width:24px;
  height:24px;
}
#u2065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:344px;
  width:346px;
  height:1px;
}
#u2066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:318px;
  width:10px;
  height:16px;
}
#u2067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:52px;
  width:10px;
  height:16px;
}
#u2068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:32px;
  width:85px;
  height:85px;
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:198px;
  width:369px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:236px;
  width:369px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
