body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:90px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:598px;
  width:384px;
  height:90px;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:611px;
  width:375px;
  height:56px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:621px;
  width:30px;
  height:44px;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:625px;
  width:22px;
  height:22px;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:653px;
  width:56px;
  height:10px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:621px;
  width:41px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:40px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:621px;
  width:29px;
  height:40px;
}
#u1802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:625px;
  width:22px;
  height:22px;
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:653px;
  width:27px;
  height:14px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#323232;
}
#u1804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:621px;
  width:41px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:621px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:620px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:618px;
  width:49px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
