body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u3127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u3127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:45px;
}
#u3129 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:285px;
  width:372px;
  height:45px;
}
#u3129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u3130 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:35px;
  width:90px;
  height:25px;
}
#u3130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3131 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:39px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u3131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u3132 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:95px;
  width:59px;
  height:25px;
}
#u3132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
}
#u3133 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:95px;
  width:160px;
  height:25px;
}
#u3133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#D2D2D2;
}
#u3134 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:96px;
  width:91px;
  height:22px;
  font-size:18px;
  color:#D2D2D2;
}
#u3134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
